<a href="https://colab.research.google.com/github/karthikmandelli/frugal-labs-/blob/main/Copy_of_original_soil_evaporation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/srm-mu.csv')
df

                        Date  SMF1    SMK1  SMF2  SMK2  TEMPC
0     6/15/2023, 11:45:39 PM   197  167.94  5265  5.16  32.44
1     6/15/2023, 11:29:41 PM   198  167.70  5285  5.08  32.50
2     6/15/2023, 11:13:43 PM   200  167.46  5296  5.04  32.56
3     6/15/2023, 10:57:46 PM   200  167.23  5308  4.99  32.63
4     6/15/2023, 10:41:49 PM   201  166.75  5332  4.89  32.75
...                      ...   ...     ...   ...   ...    ...
3006    5/1/2023, 1:09:49 AM  4847    7.17  5882  3.16  29.12
3007   5/1/2023, 12:53:50 AM  4866    7.09  5901  3.09  29.19
3008   5/1/2023, 12:37:52 AM  4854    7.13  5921  3.01  29.19
3009   5/1/2023, 12:21:53 AM  4866    7.08  5921  3.01  29.25
3010   5/1/2023, 12:05:55 AM  4861    7.10  5921  3.01  29.25

[3011 rows x 6 columns]

In [ ]:
df["Date"]=pd.to_datetime(df["Date"])

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
mean_by_date1 = df.groupby("Date").mean
mean_by_date1

In [ ]:
mean_by_date1 = df.resample('D').mean()

print(mean_by_date1)

                   SMF1        SMK1         SMF2       SMK2      TEMPC
Date
2023-05-01  4962.100000    6.643333  5860.455556   3.207111  29.743111
2023-05-02  5102.266667    6.175444  6027.300000   2.606333  29.113889
2023-05-03  5442.500000    4.850667  6145.055556   2.137333  29.381667
2023-05-04  4753.450000    7.167000  6418.325000   0.572750  30.438000
2023-05-05  5262.766667    5.505333  6428.588889   0.522889  29.702000
2023-05-06  5484.855556    4.680444  6245.277778   1.749667  29.453444
2023-05-07  5582.370787    4.342697  6458.483146   0.492360  28.963371
2023-05-08  5669.644444    3.976000  6620.744444   0.000000  29.395111
2023-05-09  5718.813187    3.703407  6755.692308   0.000000  30.391319
2023-05-10  5568.090909    4.262273  6865.045455   0.000000  30.419545
2023-05-11  4674.473684    7.355789  6930.210526   0.000000  30.024737
2023-05-12  4423.125000    8.143750  6653.562500   0.000000  30.847500
2023-05-13  5093.733333    6.038000  6594.200000   0.000000  30.561333
2023-05-14  5446.478261    4.697391  6625.043478   0.000000  30.723913
2023-05-15  4932.396226    6.166415  6468.490566   0.636792  32.293208
2023-05-16  4507.582418    7.323736  5524.098901   4.210440  32.129890
2023-05-17  5180.123596    5.484270  4353.157303   7.923146  32.275281
2023-05-18  2336.000000   18.024000  3145.944444  11.832000  32.498333
2023-05-19  3788.636364   13.116705  2258.477273  18.044432  32.466591
2023-05-20  1615.444444   62.409000  1712.811111  23.332111  32.621778
2023-05-21   290.533333  162.072556  1328.588889  27.131889  32.585222
2023-05-22   201.505495  167.613846  1092.824176  30.535165  32.523407
2023-05-23   259.452381  163.847143  1745.107143  23.844405  32.669762
2023-05-24   333.791667  147.748542  5306.520833   4.934167  33.132292
2023-05-25   398.311111  123.114889  4713.600000   6.756667  32.136667
2023-05-26   371.480000  137.980000  4173.920000   8.341200  31.001200
2023-05-27          NaN         NaN          NaN        NaN        NaN
2023-05-28          NaN         NaN          NaN        NaN        NaN
2023-05-29          NaN         NaN          NaN        NaN        NaN
2023-05-30          NaN         NaN          NaN        NaN        NaN
2023-05-31          NaN         NaN          NaN        NaN        NaN
2023-06-01   220.145833  162.351042  2557.770833  16.465625  33.900833
2023-06-02   220.829787  167.598723  5912.191489   2.833191  32.545532
2023-06-03   224.160920  169.921609  6087.160920   2.235287  31.917356
2023-06-04   236.804878  168.898537  6291.609756   1.483415  32.183659
2023-06-05   235.766667  168.884111  6233.088889   1.504556  32.126444
2023-06-06   214.045977  173.880345  6322.160920   1.150920  30.869425
2023-06-07   215.953488  172.240233  6484.686047   0.381279  31.307907
2023-06-08   226.909091  168.137045  6340.715909   1.088523  32.381591
2023-06-09   205.766667  166.665556  5755.188889   3.346000  32.770333
2023-06-10   211.576471  167.744471  5988.835294   2.160353  32.487647
2023-06-11   240.633333  166.659667  6239.633333   1.592444  32.776667
2023-06-12   240.136364  162.658295  5564.636364   3.944773  33.651591
2023-06-13   216.252874  166.015517  5243.229885   5.168621  32.947816
2023-06-14   220.533333  165.448778  4936.022222   6.235556  33.092444
2023-06-15   214.353659  166.109512  4892.878049   6.248902  32.928659

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/srm wmu .csv')
df1["Date"]=pd.to_datetime(df1["Date"])
df1.set_index('Date', inplace=True)
mean_by_date2 = df1.resample('D').mean()
print(mean_by_date2)

                 LWP         WS        RF           LUX      AirTC      AirHP  \
Date
2023-05-01  4.905882   5.935059  0.000000   9684.129412  29.420235  77.497294
2023-05-02  8.630952   3.685714  0.000000   8517.357143  27.299643  84.651190
2023-05-03  3.571429   4.537143  0.000000   9302.333333  28.809167  80.512381
2023-05-04  4.527778   5.013333  0.000000   3005.194444  29.077500  79.298889
2023-05-05  3.226190   5.171429  0.000000  12876.952381  29.361190  74.791071
2023-05-06  9.506024   4.158072  0.047229  12763.891566  26.971928  78.442530
2023-05-07  2.073171   4.618537  0.013659   9400.646341  29.307195  76.999878
2023-05-08  3.630952   4.165714  0.003333  17846.678571  30.387262  73.538452
2023-05-09  1.847059   3.410824  0.000000  16605.329412  31.698353  73.745059
2023-05-10  2.524590   3.910820  0.000000  13184.114754  32.556721  70.236885
2023-05-11  5.022222   3.029333  0.000000   5399.822222  30.108000  83.826000
2023-05-12  8.756098   5.233171  0.000000  10865.853659  32.350244  72.110244
2023-05-13  1.000000   7.680000  0.000000  14667.750000  33.135962  66.773654
2023-05-14  0.906250   5.775000  0.000000   5689.656250  31.629687  70.195625
2023-05-15  0.984615   6.520615  0.000000  12975.338462  34.271231  66.827846
2023-05-16  0.987805   6.620488  0.006829  16168.573171  34.526951  64.832805
2023-05-17  0.987805   8.622439  0.000000  15206.158537  33.335732  70.601829
2023-05-18  0.975904   7.020723  0.000000  14374.457831  32.555301  72.745060
2023-05-19  0.952381   8.068571  0.000000  15042.476190  32.361548  71.090714
2023-05-20  0.976190   7.280000  0.000000  15325.000000  32.480952  72.547500
2023-05-21  1.511905   7.760000  0.000000  14788.119048  31.945833  73.551548
2023-05-22  0.940476   6.697143  0.000000  11313.214286  31.805357  74.021071
2023-05-23  0.975000   6.282000  0.000000  15803.962500  32.232625  66.839375
2023-05-24  1.000000   7.541333  0.000000  16792.133333  34.626444  62.787111
2023-05-25  1.000000   6.777143  0.000000  15070.654762  33.324167  64.231905
2023-05-26  1.000000   2.316522  0.000000    202.173913  28.106087  80.504348
2023-05-27       NaN        NaN       NaN           NaN        NaN        NaN
2023-05-28       NaN        NaN       NaN           NaN        NaN        NaN
2023-05-29       NaN        NaN       NaN           NaN        NaN        NaN
2023-05-30       NaN        NaN       NaN           NaN        NaN        NaN
2023-05-31       NaN        NaN       NaN           NaN        NaN        NaN
2023-06-01  0.979167   8.600000  0.005833  23842.333333  36.470000  56.230625
2023-06-02  5.145455  10.228364  0.040727  21640.418182  36.332909  53.176182
2023-06-03  0.963415   5.642927  0.000000  12655.317073  33.422561  66.037195
2023-06-04  0.988095   7.942857  0.000000  13145.119048  33.955119  63.175952
2023-06-05  4.476190   6.731429  0.003333  12519.642857  31.822262  66.358095
2023-06-06  3.202381  10.240000  0.030000  15087.071429  31.979286  65.335714
2023-06-07  0.214286   6.400000  0.000000  12158.095238  32.015833  71.665119
2023-06-08  0.154762   7.948571  0.000000  13761.392857  33.062500  61.938571
2023-06-09  0.178571   8.628571  0.000000  14108.250000  32.833452  62.796548
2023-06-10  1.547619   5.977143  0.000000  16625.142857  33.399881  59.600119
2023-06-11  2.258824   6.324706  0.003294  15612.282353  33.096235  63.245294
2023-06-12  1.261905   7.005714  0.003333  17050.916667  33.614881  63.120833
2023-06-13  1.904762   7.588571  0.000000  17454.892857  33.136667  64.903810
2023-06-14  0.595238   6.640000  0.000000  16410.357143  33.155238  62.845833
2023-06-15  0.058824   7.087059  0.019765  14311.729412  34.197059  57.904588

                  AirPP
Date
2023-05-01  1002.664000
2023-05-02  1004.042143
2023-05-03  1004.159524
2023-05-04  1002.876111
2023-05-05  1002.538333
2023-05-06  1002.190241
2023-05-07  1001.999268
2023-05-08  1001.156071
2023-05-09  1001.435765
2023-05-10  1000.894262
2023-05-11  1001.581778
2023-05-12  1001.652195
2023-05-13  1001.558846
2023-05-14  1000.582188
2023-05-15  1000.891846
2023-05-16  1002.063537
2023-05-17  1003.406220
2023-05-18  1004.783253
2023-05-19  1003.552143
2023-05-20  1002.757024
2023-05-21  1003.808571
2023-05-22  1004.823810
2023-05-23  1004.954875
2023-05-24  1003.456444
2023-05-25  1003.933214
2023-05-26  1003.652609
2023-05-27          NaN
2023-05-28          NaN
2023-05-29          NaN
2023-05-30          NaN
2023-05-31          NaN
2023-06-01  1000.733750
2023-06-02  1000.631091
2023-06-03  1000.720488
2023-06-04  1000.888690
2023-06-05  1000.734167
2023-06-06  1000.081667
2023-06-07  1000.499881
2023-06-08  1000.100238
2023-06-09   999.182857
2023-06-10   998.710000
2023-06-11   999.131294
2023-06-12   998.969405
2023-06-13   999.595000
2023-06-14  1000.836429
2023-06-15  1000.638353

<ipython-input-44-641901b9a3f6>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_by_date2 = df1.resample('D').mean()

In [ ]:
merged_df = mean_by_date1.merge(mean_by_date2, on='Date',how='inner')

merged_df

,SMF1,SMK1,SMF2,SMK2,TEMPC,LWP,WS,RF,LUX,AirTC,AirHP,AirPP
Date,,,,,,,,,,,,
2023-05-01,4962.100000,6.643333,5860.455556,3.207111,29.743111,4.905882,5.935059,0.000000,9684.129412,29.420235,77.497294,1002.664000
2023-05-02,5102.266667,6.175444,6027.300000,2.606333,29.113889,8.630952,3.685714,0.000000,8517.357143,27.299643,84.651190,1004.042143
2023-05-03,5442.500000,4.850667,6145.055556,2.137333,29.381667,3.571429,4.537143,0.000000,9302.333333,28.809167,80.512381,1004.159524
2023-05-04,4753.450000,7.167000,6418.325000,0.572750,30.438000,4.527778,5.013333,0.000000,3005.194444,29.077500,79.298889,1002.876111
2023-05-05,5262.766667,5.505333,6428.588889,0.522889,29.702000,3.226190,5.171429,0.000000,12876.952381,29.361190,74.791071,1002.538333
2023-05-06,5484.855556,4.680444,6245.277778,1.749667,29.453444,9.506024,4.158072,0.047229,12763.891566,26.971928,78.442530,1002.190241
2023-05-07,5582.370787,4.342697,6458.483146,0.492360,28.963371,2.073171,4.618537,0.013659,9400.646341,29.307195,76.999878,1001.999268
2023-05-08,5669.644444,3.976000,6620.744444,0.000000,29.395111,3.630952,4.165714,0.003333,17846.678571,30.387262,73.538452,1001.156071
2023-05-09,5718.813187,3.703407,6755.692308,0.000000,30.391319,1.847059,3.410824,0.000000,16605.329412,31.698353,73.745059,1001.435765
2023-05-10,5568.090909,4.262273,6865.045455,0.000000,30.419545,2.524590,3.910820,0.000000,13184.114754,32.556721,70.236885,1000.894262
2023-05-11,4674.473684,7.355789,6930.210526,0.000000,30.024737,5.022222,3.029333,0.000000,5399.822222,30.108000,83.826000,1001.581778
2023-05-12,4423.125000,8.143750,6653.562500,0.000000,30.847500,8.756098,5.233171,0.000000,10865.853659,32.350244,72.110244,1001.652195
2023-05-13,5093.733333,6.038000,6594.200000,0.000000,30.561333,1.000000,7.680000,0.000000,14667.750000,33.135962,66.773654,1001.558846
2023-05-14,5446.478261,4.697391,6625.043478,0.000000,30.723913,0.906250,5.775000,0.000000,5689.656250,31.629687,70.195625,1000.582188
2023-05-15,4932.396226,6.166415,6468.490566,0.636792,32.293208,0.984615,6.520615,0.000000,12975.338462,34.271231,66.827846,1000.891846
2023-05-16,4507.582418,7.323736,5524.098901,4.210440,32.129890,0.987805,6.620488,0.006829,16168.573171,34.526951,64.832805,1002.063537
2023-05-17,5180.123596,5.484270,4353.157303,7.923146,32.275281,0.987805,8.622439,0.000000,15206.158537,33.335732,70.601829,1003.406220
2023-05-18,2336.000000,18.024000,3145.944444,11.832000,32.498333,0.975904,7.020723,0.000000,14374.457831,32.555301,72.745060,1004.783253
2023-05-19,3788.636364,13.116705,2258.477273,18.044432,32.466591,0.952381,8.068571,0.000000,15042.476190,32.361548,71.090714,1003.552143
2023-05-20,1615.444444,62.409000,1712.811111,23.332111,32.621778,0.976190,7.280000,0.000000,15325.000000,32.480952,72.547500,1002.757024
2023-05-21,290.533333,162.072556,1328.588889,27.131889,32.585222,1.511905,7.760000,0.000000,14788.119048,31.945833,73.551548,1003.808571
2023-05-22,201.505495,167.613846,1092.824176,30.535165,32.523407,0.940476,6.697143,0.000000,11313.214286,31.805357,74.021071,1004.823810
2023-05-23,259.452381,163.847143,1745.107143,23.844405,32.669762,0.975000,6.282000,0.000000,15803.962500,32.232625,66.839375,1004.954875
2023-05-24,333.791667,147.748542,5306.520833,4.934167,33.132292,1.000000,7.541333,0.000000,16792.133333,34.626444,62.787111,1003.456444
2023-05-25,398.311111,123.114889,4713.600000,6.756667,32.136667,1.000000,6.777143,0.000000,15070.654762,33.324167,64.231905,1003.933214
2023-05-26,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
2023-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-01,220.145833,162.351042,2557.770833,16.465625,33.900833,0.979167,8.600000,0.005833,23842.333333,36.470000,56.230625,1000.733750
2023-06-02,220.829787,167.598723,5912.191489,2.833191,32.545532,5.145455,10.228364,0.040727,21640.418182,36.332909,53.176182,1000.631091
2023-06-03,224.160920,169.921609,6087.160920,2.235287,31.917356,0.963415,5.642927,0.000000,12655.317073,33.422561,66.037195,1000.720488
2023-06-04,236.804878,168.898537,6291.609756,1.483415,32.183659,0.988095,7.942857,0.000000,13145.119048,33.955119,63.175952,1000.888690
2023-06-05,235.766667,168.884111,6233.088889,1.504556,32.126444,4.476190,6.731429,0.003333,12519.642857,31.822262,66.358095,1000.734167
2023-06-06,214.045977,173.880345,6322.160920,1.150920,30.869425,3.202381,10.240000,0.030000,15087.071429,31.979286,65.335714,1000.081667
2023-06-07,215.953488,172.240233,6484.686047,0.381279,31.307907,0.214286,6.400000,0.000000,12158.095238,32.015833,71.665119,1000.499881
2023-06-08,226.909091,168.137045,6340.715909,1.088523,32.381591,0.154762,7.948571,0.000000,13761.392857,33.062500,61.938571,1000.100238
2023-06-09,205.766667,166.665556,5755.188889,3.346000,32.770333,0.178571,8.628571,0.000000,14108.250000,32.833452,62.796548,999.182857
2023-06-10,211.576471,167.744471,5988.835294,2.160353,32.487647,1.547619,5.977143,0.000000,16625.142857,33.399881,59.600119,998.710000
2023-06-11,240.633333,166.659667,6239.633333,1.592444,32.776667,2.258824,6.324706,0.003294,15612.282353,33.096235,63.245294,999.131294
2023-06-12,240.136364,162.658295,5564.636364,3.944773,33.651591,1.261905,7.005714,0.003333,17050.916667,33.614881,63.120833,998.969405
2023-06-13,216.252874,166.015517,5243.229885,5.168621,32.947816,1.904762,7.588571,0.000000,17454.892857,33.136667,64.903810,999.595000
2023-06-14,220.533333,165.448778,4936.022222,6.235556,33.092444,0.595238,6.640000,0.000000,16410.357143,33.155238,62.845833,1000.836429
2023-06-15,214.353659,166.109512,4892.878049,6.248902,32.928659,0.058824,7.087059,0.019765,14311.729412,34.197059,57.904588,1000.638353

In [ ]:
merged_df.fillna(method="ffill",inplace=True)

In [ ]:
merged_df.to_csv('/content/srm_merged.csv')
from google.colab import files
files.download('/content/srm_merged.csv')

In [ ]:
merged_df.columns

Index(['SMF1', 'SMK1', 'SMF2', 'SMK2', 'TEMPC', 'LWP', 'WS', 'RF', 'LUX',
       'AirTC', 'AirHP', 'AirPP'],
      dtype='object')

In [ ]:
se = pd.read_csv("/content/srm_merged.csv")

In [ ]:
se

,Date,SMF1,SMK1,SMF2,SMK2,TEMPC,LWP,WS,RF,LUX,AirTC,AirHP,AirPP
0,2023-05-01,4962.100000,6.643333,5860.455556,3.207111,29.743111,4.905882,5.935059,0.000000,9684.129412,29.420235,77.497294,1002.664000
1,2023-05-02,5102.266667,6.175444,6027.300000,2.606333,29.113889,8.630952,3.685714,0.000000,8517.357143,27.299643,84.651190,1004.042143
2,2023-05-03,5442.500000,4.850667,6145.055556,2.137333,29.381667,3.571429,4.537143,0.000000,9302.333333,28.809167,80.512381,1004.159524
3,2023-05-04,4753.450000,7.167000,6418.325000,0.572750,30.438000,4.527778,5.013333,0.000000,3005.194444,29.077500,79.298889,1002.876111
4,2023-05-05,5262.766667,5.505333,6428.588889,0.522889,29.702000,3.226190,5.171429,0.000000,12876.952381,29.361190,74.791071,1002.538333
5,2023-05-06,5484.855556,4.680444,6245.277778,1.749667,29.453444,9.506024,4.158072,0.047229,12763.891566,26.971928,78.442530,1002.190241
6,2023-05-07,5582.370787,4.342697,6458.483146,0.492360,28.963371,2.073171,4.618537,0.013659,9400.646341,29.307195,76.999878,1001.999268
7,2023-05-08,5669.644444,3.976000,6620.744444,0.000000,29.395111,3.630952,4.165714,0.003333,17846.678571,30.387262,73.538452,1001.156071
8,2023-05-09,5718.813187,3.703407,6755.692308,0.000000,30.391319,1.847059,3.410824,0.000000,16605.329412,31.698353,73.745059,1001.435765
9,2023-05-10,5568.090909,4.262273,6865.045455,0.000000,30.419545,2.524590,3.910820,0.000000,13184.114754,32.556721,70.236885,1000.894262
10,2023-05-11,4674.473684,7.355789,6930.210526,0.000000,30.024737,5.022222,3.029333,0.000000,5399.822222,30.108000,83.826000,1001.581778
11,2023-05-12,4423.125000,8.143750,6653.562500,0.000000,30.847500,8.756098,5.233171,0.000000,10865.853659,32.350244,72.110244,1001.652195
12,2023-05-13,5093.733333,6.038000,6594.200000,0.000000,30.561333,1.000000,7.680000,0.000000,14667.750000,33.135962,66.773654,1001.558846
13,2023-05-14,5446.478261,4.697391,6625.043478,0.000000,30.723913,0.906250,5.775000,0.000000,5689.656250,31.629687,70.195625,1000.582188
14,2023-05-15,4932.396226,6.166415,6468.490566,0.636792,32.293208,0.984615,6.520615,0.000000,12975.338462,34.271231,66.827846,1000.891846
15,2023-05-16,4507.582418,7.323736,5524.098901,4.210440,32.129890,0.987805,6.620488,0.006829,16168.573171,34.526951,64.832805,1002.063537
16,2023-05-17,5180.123596,5.484270,4353.157303,7.923146,32.275281,0.987805,8.622439,0.000000,15206.158537,33.335732,70.601829,1003.406220
17,2023-05-18,2336.000000,18.024000,3145.944444,11.832000,32.498333,0.975904,7.020723,0.000000,14374.457831,32.555301,72.745060,1004.783253
18,2023-05-19,3788.636364,13.116705,2258.477273,18.044432,32.466591,0.952381,8.068571,0.000000,15042.476190,32.361548,71.090714,1003.552143
19,2023-05-20,1615.444444,62.409000,1712.811111,23.332111,32.621778,0.976190,7.280000,0.000000,15325.000000,32.480952,72.547500,1002.757024
20,2023-05-21,290.533333,162.072556,1328.588889,27.131889,32.585222,1.511905,7.760000,0.000000,14788.119048,31.945833,73.551548,1003.808571
21,2023-05-22,201.505495,167.613846,1092.824176,30.535165,32.523407,0.940476,6.697143,0.000000,11313.214286,31.805357,74.021071,1004.823810
22,2023-05-23,259.452381,163.847143,1745.107143,23.844405,32.669762,0.975000,6.282000,0.000000,15803.962500,32.232625,66.839375,1004.954875
23,2023-05-24,333.791667,147.748542,5306.520833,4.934167,33.132292,1.000000,7.541333,0.000000,16792.133333,34.626444,62.787111,1003.456444
24,2023-05-25,398.311111,123.114889,4713.600000,6.756667,32.136667,1.000000,6.777143,0.000000,15070.654762,33.324167,64.231905,1003.933214
25,2023-05-26,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
26,2023-05-27,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
27,2023-05-28,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
28,2023-05-29,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
29,2023-05-30,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
30,2023-05-31,371.480000,137.980000,4173.920000,8.341200,31.001200,1.000000,2.316522,0.000000,202.173913,28.106087,80.504348,1003.652609
31,2023-06-01,220.145833,162.351042,2557.770833,16.465625,33.900833,0.979167,8.600000,0.005833,23842.333333,36.470000,56.230625,1000.733750
32,2023-06-02,220.829787,167.598723,5912.191489,2.833191,32.545532,5.145455,10.228364,0.040727,21640.418182,36.332909,53.176182,1000.631091
33,2023-06-03,224.160920,169.921609,6087.160920,2.235287,31.917356,0.963415,5.642927,0.000000,12655.317073,33.422561,66.037195,1000.720488
34,2023-06-04,236.804878,168.898537,6291.609756,1.483415,32.183659,0.988095,7.942857,0.000000,13145.119048,33.955119,63.175952,1000.888690
35,2023-06-05,235.766667,168.884111,6233.088889,1.504556,32.126444,4.476190,6.731429,0.003333,12519.642857,31.822262,66.358095,1000.734167
36,2023-06-06,214.045977,173.880345,6322.160920,1.150920,30.869425,3.202381,10.240000,0.030000,15087.071429,31.979286,65.335714,1000.081667
37,2023-06-07,215.953488,172.240233,6484.686047,0.381279,31.307907,0.214286,6.400000,0.000000,12158.095238,32.015833,71.665119,1000.499881
38,2023-06-08,226.909091,168.137045,6340.715909,1.088523,32.381591,0.154762,7.948571,0.000000,13761.392857,33.062500,61.938571,1000.100238
39,2023-06-09,205.766667,166.665556,5755.188889,3.346000,32.770333,0.178571,8.628571,0.000000,14108.250000,32.833452,62.796548,999.182857
40,2023-06-10,211.576471,167.744471,5988.835294,2.160353,32.487647,1.547619,5.977143,0.000000,16625.142857,33.399881,59.600119,998.710000
41,2023-06-11,240.633333,166.659667,6239.633333,1.592444,32.776667,2.258824,6.324706,0.003294,15612.282353,33.096235,63.245294,999.131294
42,2023-06-12,240.136364,162.658295,5564.636364,3.944773,33.651591,1.261905,7.005714,0.003333,17050.916667,33.614881,63.120833,998.969405
43,2023-06-13,216.252874,166.015517,5243.229885,5.168621,32.947816,1.904762,7.588571,0.000000,17454.892857,33.136667,64.903810,999.595000
44,2023-06-14,220.533333,165.448778,4936.022222,6.235556,33.092444,0.595238,6.640000,0.000000,16410.357143,33.155238,62.845833,1000.836429
45,2023-06-15,214.353659,166.109512,4892.878049,6.248902,32.928659,0.058824,7.087059,0.019765,14311.729412,34.197059,57.904588,1000.638353

          Date  EvaporationRate

5   2023-05-06        -0.047139
6   2023-05-07        -0.013540
7   2023-05-08        -0.003205
8
15  2023-05-16        -0.006496
16
31  2023-06-01        -0.005235
32  2023-06-02        -0.039956
33
35  2023-06-05        -0.003043
36  2023-06-06        -0.029518
37
41  2023-06-11        -0.002982
42  2023-06-12        -0.002975

45  2023-06-15        -0.019341

['SMF1', 'SMK1', 'SMF2', 'SMK2', 'TEMPC', 'LWP', 'WS', 'RF', 'LUX',
       'AirTC', 'AirHP', 'AirPP'],
      dtype='object')

In [ ]:
import math
import pandas as pd

def calculate_evaporation_rate(se):
    # Constants
    specific_heat_air = 1.013 * 10 ** -3  # Specific heat of air (MJ/kg/Â°C)
    latent_heat_vaporization = 2.45  # Latent heat of vaporization (MJ/kg)
    psychrometric_constant = 0.063  # Psychrometric constant (kPa/Â°C)

    # Saturation vapor pressure
    saturation_vapor_pressure = 0.611 * se['AirTC'].apply(lambda x: math.exp((17.27 * x) / (x + 237.3)))

    # Actual vapor pressure
    vapor_pressure = se['AirHP'] * saturation_vapor_pressure

    # Delta term
    delta_term = (4098 * saturation_vapor_pressure) / ((se['AirTC'] + 237.3) ** 2)

    # Slope of the vapor pressure curve
    slope = delta_term / (delta_term + psychrometric_constant * (1 + 0.34 * se['WS']))

    # Evaporation rate
    evaporation_rate = (specific_heat_air * (psychrometric_constant * (900 / (se['AirTC'] + 273)) * se['WS'] * (saturation_vapor_pressure - vapor_pressure))) / (latent_heat_vaporization * (slope + psychrometric_constant))

    # Adjusting for rainfall
    evaporation_rate -= se['RF']

    # Create a new DataFrame with date and evaporation rate columns
    result = pd.DataFrame({'Date': se['Date'], 'EvaporationRate': evaporation_rate})

    return result

High humidity: When the air is already saturated with moisture, there is limited capacity for evaporation. In such cases, the evaporation rate can be negative or close to zero.

Low air temperature: Evaporation is typically lower at lower temperatures. If the air temperature is significantly lower than the surface temperature of the soil or water, the evaporation rate may be negative.

Presence of water sources: If there are water sources in the vicinity, such as lakes, rivers, or wet surfaces, they can contribute to an increase in local humidity and result in negative evaporation rates.

Measurement errors: Negative evaporation rates can also be caused by measurement errors or inaccuracies in the data collection process. Double-check the data sources and measurement techniques to ensure accuracy.

In [ ]:
evaporation_data = calculate_evaporation_rate(se)
print(evaporation_data)

          Date  EvaporationRate
0   2023-05-01        -0.234054
1   2023-05-02        -0.131877
2   2023-05-03        -0.170390
3   2023-05-04        -0.191578
4   2023-05-05        -0.189531
5   2023-05-06        -0.186857
6   2023-05-07        -0.183108
7   2023-05-08        -0.151734
8   2023-05-09        -0.123364
9   2023-05-10        -0.142409
10  2023-05-11        -0.115143
11  2023-05-12        -0.206072
12  2023-05-13        -0.317212
13  2023-05-14        -0.220814
14  2023-05-15        -0.268068
15  2023-05-16        -0.274129
16  2023-05-17        -0.392712
17  2023-05-18        -0.302431
18  2023-05-19        -0.351252
19  2023-05-20        -0.315136
20  2023-05-21        -0.340899
21  2023-05-22        -0.282562
22  2023-05-23        -0.238415
23  2023-05-24        -0.306047
24  2023-05-25        -0.261613
25  2023-05-26        -0.075169
26  2023-05-27        -0.075169
27  2023-05-28        -0.075169
28  2023-05-29        -0.075169
29  2023-05-30        -0.075169
30  2023-05-31        -0.075169
31  2023-06-01        -0.350160
32  2023-06-02        -0.446638
33  2023-06-03        -0.214830
34  2023-06-04        -0.321819
35  2023-06-05        -0.258039
36  2023-06-06        -0.467090
37  2023-06-07        -0.260016
38  2023-06-08        -0.306494
39  2023-06-09        -0.343349
40  2023-06-10        -0.207681
41  2023-06-11        -0.237519
42  2023-06-12        -0.274055
43  2023-06-13        -0.303485
44  2023-06-14        -0.247913
45  2023-06-15        -0.276459

In [ ]:
import math

def calculate_evaporation_rate2(se):
    # Constants
    specific_heat_air = 1.013 * 10 ** -3  # Specific heat of air (MJ/kg/Â°C)
    latent_heat_vaporization = 2.45  # Latent heat of vaporization (MJ/kg)
    psychrometric_constant = 0.063  # Psychrometric constant (kPa/Â°C)

     # Saturation vapor pressure
    saturation_vapor_pressure = 0.611 * se['AirTC'].apply(lambda x: math.exp((17.27 * x) / (x + 237.3)))

    # Actual vapor pressure (kPa)
    vapor_pressure = se['AirHP'] * saturation_vapor_pressure / 100.0

    # Convert air pressure from hPa to kPa if needed
    air_pressure_kpa = se['AirPP']

    # Convert wind speed from km/h to m/s
    wind_speed_ms = se['WS'] * (1000.0 / 3600.0)

   # Delta term
    delta_term = (4098 * saturation_vapor_pressure) / ((se['AirTC'] + 237.3) ** 2)

    # Slope of the vapor pressure curve
    slope = delta_term / (delta_term + psychrometric_constant * (1 + 0.34 * wind_speed_ms))

    rainfall_cm = se['RF']

    # Soil temperature (Â°C)
    soil_temperature_celsius = se['TEMPC']

    # Net radiation is not available in the given data

    # Evaporation rate
    evaporation_rate = (0.408 * slope * 0 + (specific_heat_air * (psychrometric_constant * (900 / (se["AirTC"] + 273)) * wind_speed_ms * (saturation_vapor_pressure - vapor_pressure)))) / (latent_heat_vaporization * (slope + psychrometric_constant))

    # Adjusting for rainfall
    evaporation_rate -= rainfall_cm
    result = pd.DataFrame({'Date': se['Date'], 'EvaporationRate': evaporation_rate})
    return result
# Example usage
#evaporation_data_final = calculate_evaporation_rate2(se)
#print(evaporation_data_final)
se['EvaporationRate'] = calculate_evaporation_rate2(se)
print(se[['Date', 'EvaporationRate']])

NameError: ignored

In [ ]:
se[["Date","RF",""]]

          Date        RF
0   2023-05-01  0.000000
1   2023-05-02  0.000000
2   2023-05-03  0.000000
3   2023-05-04  0.000000
4   2023-05-05  0.000000
5   2023-05-06  0.047229
6   2023-05-07  0.013659
7   2023-05-08  0.003333
8   2023-05-09  0.000000
9   2023-05-10  0.000000
10  2023-05-11  0.000000
11  2023-05-12  0.000000
12  2023-05-13  0.000000
13  2023-05-14  0.000000
14  2023-05-15  0.000000
15  2023-05-16  0.006829
16  2023-05-17  0.000000
17  2023-05-18  0.000000
18  2023-05-19  0.000000
19  2023-05-20  0.000000
20  2023-05-21  0.000000
21  2023-05-22  0.000000
22  2023-05-23  0.000000
23  2023-05-24  0.000000
24  2023-05-25  0.000000
25  2023-05-26  0.000000
26  2023-05-27  0.000000
27  2023-05-28  0.000000
28  2023-05-29  0.000000
29  2023-05-30  0.000000
30  2023-05-31  0.000000
31  2023-06-01  0.005833
32  2023-06-02  0.040727
33  2023-06-03  0.000000
34  2023-06-04  0.000000
35  2023-06-05  0.003333
36  2023-06-06  0.030000
37  2023-06-07  0.000000
38  2023-06-08  0.000000
39  2023-06-09  0.000000
40  2023-06-10  0.000000
41  2023-06-11  0.003294
42  2023-06-12  0.003333
43  2023-06-13  0.000000
44  2023-06-14  0.000000
45  2023-06-15  0.019765

In [ ]:
filtered_data = se[se['RF'] > 0.00][["Date", "RF"]]
print(filtered_data)

          Date        RF
5   2023-05-06  0.047229
6   2023-05-07  0.013659
7   2023-05-08  0.003333
15  2023-05-16  0.006829
31  2023-06-01  0.005833
32  2023-06-02  0.040727
35  2023-06-05  0.003333
36  2023-06-06  0.030000
41  2023-06-11  0.003294
42  2023-06-12  0.003333
45  2023-06-15  0.019765

#why some days are negative

here are some negative values for the evaporation rate on certain days. A negative evaporation rate indicates that there was more water added to the system (e.g., through rainfall or other sources) than the amount of water lost through evaporation. This can occur when the weather conditions are unfavorable for evaporation, such as during periods of high humidity or when there is significant rainfall.

Air temperature (AirTC): Celsius (Â°C)
Soil temperature (TEMPC): Celsius (Â°C)
Air pressure (AirPP): Hectopascal (hPa)
Wind speed (WindSpeed): Kilometers per hour (km/h) change to m/s
Humidity (AirHumidity): Percentage (%)
Rainfall (Rainfall): Millimeters (mm)

days which are negative

#evaporation rate using Penman-Monteith equation

The formula for estimating soil evaporation rate based on soil temperature, air pressure, air temperature, air humidity, and wind speed is as follows:

Evaporation rate = Ks * (es - ea) / Î” + Î³ * (1 + Ks / Î») * (1 + U^2)

Where:

Evaporation rate: The estimated soil evaporation rate.
Ks: Soil hydraulic conductivity factor.
es: Saturation vapor pressure at air temperature (derived from the air temperature).
ea: Actual vapor pressure (derived from air humidity).
Î”: Slope of the saturation vapor pressure-temperature relationship (derived from air temperature).
Î³: Psychrometric constant.
U: Wind speed.
Î»: Latent heat of vaporization.

      date    EvaporationRate

![NEGATIVE_EVCAPORATION_RATE_PNG.png]()