<a href="https://colab.research.google.com/github/karthikmandelli/frugal-labs-/blob/main/crop_field_prediction_15_05ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
task = pd.read_csv("https://raw.githubusercontent.com/uvinodkumar/Crop-Yield-Prediction/main/finalised_dataset_updated.csv")
print(task)
task.head()

       Unnamed: 0  state_names district_names  crop_year season_names  \
0          125191  Maharashtra     AHMEDNAGAR       2004  Autumn
1          125192  Maharashtra     AHMEDNAGAR       2004  Kharif
2          125193  Maharashtra     AHMEDNAGAR       2004  Kharif
3          125194  Maharashtra     AHMEDNAGAR       2004  Kharif
4          125195  Maharashtra     AHMEDNAGAR       2004  Kharif
...           ...          ...            ...        ...          ...
12623      137814  Maharashtra       YAVATMAL       2021  Rabi
12624      137815  Maharashtra       YAVATMAL       2021  Rabi
12625      137816  Maharashtra       YAVATMAL       2021  Rabi
12626      137817  Maharashtra       YAVATMAL       2021  Summer
12627      137818  Maharashtra       YAVATMAL       2021  Whole Year

      crop_names    area  temperature  wind_speed     pressure   humidity  \
0          Maize       1    20.770894    2.068260  1014.863796  21.947147
1      Arhar/Tur   17600    20.160426    1.976480  1015.193528  20.643237
2          Bajra  274100    21.998299    2.000524  1014.184607  21.422312
3           Gram   40800    21.776377    2.019750  1015.053118  21.810567
4          Jowar     900    20.075734    1.974351  1015.170238  21.930206
...          ...     ...          ...         ...          ...        ...
12623      Jowar    4000    21.635879    2.000060  1014.302213  20.060662
12624      Maize    1300    21.709611    2.053609  1015.803912  21.263478
12625      Wheat   29100    21.851730    2.027476  1014.031903  20.059945
12626  Groundnut    9400    21.569380    2.004421  1013.989125  21.835158
12627  Sugarcane    8100    21.666723    2.008003  1015.081619  21.754799

      soil_type       N       P       K  production        Yield
0         loamy  56.070   0.000   0.000      1113.0  1113.000000
1         sandy   9.000   9.000   0.000      6300.0     0.357955
2          clay   0.000   0.000   0.000    152800.0     0.557461
3        chalky  38.250  38.250  38.250     18600.0     0.455882
4          clay   0.000  23.184   0.000      1100.0     1.222222
...         ...     ...     ...     ...         ...          ...
12623     silty   7.840   7.840   0.000      3300.0     0.825000
12624      silt   7.504  18.760   7.504       200.0     0.153846
12625     sandy   0.000   0.000   0.000     26800.0     0.920962
12626    chalky   2.896   3.620   0.000     11500.0     1.223404
12627     loamy   3.150   0.000   0.000    553700.0    68.358025

[12628 rows x 17 columns]

,Unnamed: 0,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,pressure,humidity,soil_type,N,P,K,production,Yield
0,125191,Maharashtra,AHMEDNAGAR,2004,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.07,0.000,0.00,1113.0,1113.000000
1,125192,Maharashtra,AHMEDNAGAR,2004,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.00,9.000,0.00,6300.0,0.357955
2,125193,Maharashtra,AHMEDNAGAR,2004,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.00,0.000,0.00,152800.0,0.557461
3,125194,Maharashtra,AHMEDNAGAR,2004,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.25,38.250,38.25,18600.0,0.455882
4,125195,Maharashtra,AHMEDNAGAR,2004,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.00,23.184,0.00,1100.0,1.222222

In [ ]:
task.isnull().sum()

In [ ]:
task1 = task.dropna()

In [ ]:
task.isnull().sum()

Unnamed: 0          0
state_names         0
district_names      0
crop_year           0
season_names        0
crop_names          0
area                0
temperature         0
wind_speed          0
pressure            0
humidity            0
soil_type           0
N                   0
P                   0
K                   0
production        132
Yield             132
dtype: int64

In [ ]:
task.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12628 entries, 0 to 12627
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      12628 non-null  int64
 1   state_names     12628 non-null  object
 2   district_names  12628 non-null  object
 3   crop_year       12628 non-null  int64
 4   season_names    12628 non-null  object
 5   crop_names      12628 non-null  object
 6   area            12628 non-null  int64
 7   temperature     12628 non-null  float64
 8   wind_speed      12628 non-null  float64
 9   pressure        12628 non-null  float64
 10  humidity        12628 non-null  float64
 11  soil_type       12628 non-null  object
 12  N               12628 non-null  float64
 13  P               12628 non-null  float64
 14  K               12628 non-null  float64
 15  production      12496 non-null  float64
 16  Yield           12496 non-null  float64
dtypes: float64(9), int64(3), object(5)
memory usage: 1.6+ MB

In [ ]:
task.describe()

In [ ]:
task1.corr()

<ipython-input-12-975f5bf73a3e>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  task1.corr()

,Unnamed: 0,crop_year,area,temperature,wind_speed,pressure,humidity,N,P,K,production,Yield
Unnamed: 0,1.000000,0.028183,-0.030662,-0.000891,0.006917,-0.008255,-0.000949,-0.000349,-0.002024,-0.002245,0.021424,-0.002376
crop_year,0.028183,1.000000,0.045084,0.005024,-0.006516,-0.000344,0.000885,0.003924,0.000562,0.003171,0.054792,-0.024920
area,-0.030662,0.045084,1.000000,0.010232,0.011797,0.009108,0.006893,-0.012029,0.022982,0.028059,0.167826,-0.006498
temperature,-0.000891,0.005024,0.010232,1.000000,0.007432,-0.008579,0.005320,0.007968,-0.015970,-0.009626,-0.001006,0.001467
wind_speed,0.006917,-0.006516,0.011797,0.007432,1.000000,-0.016541,-0.000798,-0.005910,0.031136,0.024187,0.003635,-0.010879
pressure,-0.008255,-0.000344,0.009108,-0.008579,-0.016541,1.000000,-0.000822,-0.002839,0.000485,0.002245,-0.006079,0.020250
humidity,-0.000949,0.000885,0.006893,0.005320,-0.000798,-0.000822,1.000000,0.005887,-0.000123,0.004779,0.011325,0.012311
N,-0.000349,0.003924,-0.012029,0.007968,-0.005910,-0.002839,0.005887,1.000000,-0.104208,-0.069296,0.010356,0.005029
P,-0.002024,0.000562,0.022982,-0.015970,0.031136,0.000485,-0.000123,-0.104208,1.000000,0.866196,0.004281,0.013454
K,-0.002245,0.003171,0.028059,-0.009626,0.024187,0.002245,0.004779,-0.069296,0.866196,1.000000,0.001345,0.002387
production,0.021424,0.054792,0.167826,-0.001006,0.003635,-0.006079,0.011325,0.010356,0.004281,0.001345,1.000000,0.280524
Yield,-0.002376,-0.024920,-0.006498,0.001467,-0.010879,0.020250,0.012311,0.005029,0.013454,0.002387,0.280524,1.000000

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
X = task1[['pressure', 'temperature', 'humidity']].values
y = task1['production'].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r_squared = model.score(X_test, y_test)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r_squared)
new_data = np.array([[1013.25, 25.5, 60.0]])
predicted_value = model.predict(new_data)
print("Predicted value:", predicted_value)

Mean Squared Error: 406601045155.9186
Root Mean Squared Error: 637652.7622114709
R-squared: -0.0020088832099922627
Predicted value: [662965.29927013]

In [ ]:
new_data = np.array([[1014, 20.77, 21]])
predicted_value = model.predict(new_data)
print("Predicted value:", predicted_value)

Predicted value: [109814.30279981]

In [ ]:
import pandas as pd

# Example data for temperature, pressure, and humidity
temperature = [25.5, 24.3, 26.8, 27.1, 23.7, 22.4, 24.9, 26.3, 25.8, 24.6, 26.2, 25.1, 27.4, 23.9, 24.7]
pressure = [1012.3, 1011.7, 1013.2, 1014.5, 1012.1, 1010.8, 1011.9, 1013.5, 1012.9, 1011.2, 1013.1, 1012.4, 1014.7, 1010.9, 1011.5]
humidity = [58, 60, 55, 63, 57, 59, 61, 56, 62, 59, 54, 60, 58, 57, 61]

# Create a DataFrame with the collected data
data = pd.DataFrame({'Temperature': temperature, 'Pressure': pressure, 'Humidity': humidity})

# Print the dataset
print(data)

    Temperature  Pressure  Humidity
0          25.5    1012.3        58
1          24.3    1011.7        60
2          26.8    1013.2        55
3          27.1    1014.5        63
4          23.7    1012.1        57
5          22.4    1010.8        59
6          24.9    1011.9        61
7          26.3    1013.5        56
8          25.8    1012.9        62
9          24.6    1011.2        59
10         26.2    1013.1        54
11         25.1    1012.4        60
12         27.4    1014.7        58
13         23.9    1010.9        57
14         24.7    1011.5        61

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Create a DataFrame with the collected data
data = pd.DataFrame({'Temperature': temperature, 'Pressure': pressure, 'Humidity': humidity})

# Split the data into features (X) and target variable (y)
X = data[['Pressure', 'Humidity']]
y = data['Temperature']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict temperature for the next 15 days
new_pressure = [1013.8, 1011.3, 1012.6, 1014.2, 1011.9, 1013.1, 1012.7, 1011.5, 1013.4, 1012.1, 1011.9, 1013.0, 1014.3, 1012.5, 1011.6]
new_humidity = [60, 58, 59, 61, 57, 58, 60, 55, 61, 59, 57, 60, 59, 56, 55]
new_data = pd.DataFrame({'Pressure': new_pressure, 'Humidity': new_humidity})
predicted_temperature = model.predict(new_data)

# Print the predicted temperatures for the next 15 days
print(predicted_temperature)

[26.62447444 23.90065427 25.31805876 27.04297966 24.59203714 25.89845282
 25.40359755 24.19898194 26.15506919 24.76311472 24.59203714 25.73656398
 27.2048685  25.28342001 24.30997075]

In [ ]:
!pip install --upgrade openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/dist-packages (3.0.10)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/dist-packages (from openpyxl) (1.1.0)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.10
    Uninstalling openpyxl-3.0.10:
      Successfully uninstalled openpyxl-3.0.10
Successfully installed openpyxl-3.1.2